h1{
  position: relative;
  top: 50px;
}
.container{
  background-color: #b3e4f1;
  margin: 100px 100px 100px 100px;
  padding: 30px;
  /* padding-right: 100px; */
  border-radius: 15px;
  /* width: 100% !important; */
  /* max-width: 800px !important;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.input-bgc {
  background-color: #d9d9d9 !important; 
}

.input-bgc::placeholder {
  color: #838383 !important;
  font-style: italic; /* opcional para diferenciar aún más */
}
/* #dentro{
  width: 100% !important;
} */
/* .mb-3 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 15px;
} */

/* .form-label {
  flex: 1;
  text-align: left;
  white-space: nowrap;
} */





